*{
    /* background-color: rgba(0, 0, 0, 0.82); */
    /* background-image: linear-gradient(to bottom, rgb(102, 69, 12), black); */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}