.home{
    /* background-color: rgba(0, 0, 0, 0.902); */
    background-image: linear-gradient(to bottom, #256D85, rgba(0, 0, 0, 0.927));
    background-attachment: fixed;
    /* background-color: linear-gradient(orange,black); */
    display: flex;
    padding-top: 1rem;
    min-height: 87vh;
}
.home_left{
    flex: 0.7;
    margin-left: 2rem;
    margin-right: 1rem;
    /* border: 0.1rem dotted black; */
    
}
.home_heading{
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* font-size: 2.5rem; */
    /* color: rgba(255, 255, 255, 0.833); */
}
.trend_design{
    display: flex;
}
.home_heading > h4{
    color: rgba(255, 255, 255, 0.902);
    margin-bottom: 1rem;
    /* text-decoration: wavy; */
}
.trend_button>h4:before {
    content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
.trend_button>h4{
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.trend_button>h4:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.home_right{
    flex: 0.3;
    height: 83vh;
    border-top: 0.2rem solid grey;
    border-left: 0.2rem solid grey;
    border-bottom: 0.2rem solid grey;
    border-radius: 3rem;
    margin-right: 2rem;
}
.floating_button{
    display: none;
}

@media screen and (max-width: 600px) {
    .home_right{
        display: none;
    }
    .home_left{
        flex: 1;
        margin: 0 0.2rem;
    }
    .home_heading{
        font-size: 2rem;
    }
    .floating_button{
        display: block;
        position:fixed;
        width:50px;
        height:60px;
        bottom:10px;
        right:10px;
    }
    .floating_button > button{
        border: none;
        border-radius: 10rem;
        font-size: 2rem;
        background-color: orange;
    }
    .home_heading > h4{
      font-size: 1rem;
      margin-left: 1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 800;
      letter-spacing: 1.5px;
    }
    .trend_design{
      flex-wrap: wrap;
    }
    .trend_button>h4{
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
}