.navbar{
    display: flex;
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: black;
    text-decoration: none;
    padding: 0.8rem 0;
}
.navbar_left{
    flex: 0.2;
}
.navbar_right{
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13rem;
}
.navbar > div > a{
    font: 300 1rem "Roboto";
    margin: 0 3rem;
    text-decoration: none;
    cursor: pointer;
    color: rgb(253, 166, 5);
    /* padding: 1rem 0; */
}
.logo{
    margin-top: 0.4rem;
    height: 3rem;
    width: 9rem;
}
@media screen and (max-width: 600px) {
    /* .navbar{
        justify-content: space-around;
    } */
    .navbar > div > a{
        margin: 0 0px;
    }
    .navbar_left{
        flex: 0.1;
        margin-left: 0.5rem;
    }
    .navbar_right{
        flex: 0.9;
        margin: 0;
        margin-right: 2rem;
    }
}